.widget
	.widget-body
		.row
			.col-sm-4.col-xs-12(uib-tooltip="Foto oficial")
				img(style="width: 200px" ng-src="{{perfilPath + alumno.foto_nombre}}")
			.col-sm-4.col-xs-12(uib-tooltip="Imagen de usuario (no importante)")
				img(style="width: 200px" ng-src="{{perfilPath + alumno.imagen_nombre}}")

			.col-md-4.col-sm-12(style="margin-top: 50px; text-align: center")
				button.btn.btn-primary.shiny(style="font-size: 20pt; font-weight: bold;" type="button"
					ng-click="cambiarGrupo()" uib-tooltip="Cambiar grupo"
					ng-show="alumno.grupo_nombre") {{ alumno.grupo_nombre}}

				div(style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #d74848; color: #d74848; padding: 5px;" ng-show="alumno.repitente")
					| Repitente

				div(style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #299f2d; color: #299f2d; padding: 5px;" ng-show="alumno.egresado")
					| Egresado

				div(style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #000; color: #000; padding: 5px;" ng-show="alumno.nuevo")
					| Nuevo

		hr
		.row
			.form-group.col-lg-4.col-sm-6
				label(for="alumno-nombres") Nombres
				input.form-control#alumno-nombres(type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)" style="font-size: 12pt; color: #444; border: 1px solid #999;")
			.form-group.col-lg-4.col-sm-6
				label(for="alumno-apellidos") Apellidos
				input#alumno-apellidos.form-control(type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)" style="font-size: 12pt; color: #444; border: 1px solid #999;")
			.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 5px;")
				label Sexo
				.row
					.col-lg-6.col-sm-4.col-xs-12
						.radio
							label
								input.inverted(type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
								span.text Masculino
					.col-lg-6.col-sm-4.col-xs-12
						.radio
							label
								input.inverted(type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
								span.text Femenino

		hr
		.row
			.form-group.col-lg-3.col-sm-3(style="margin-top: 15px;")
				span(style="border: 1px solid #ccc; border-radius: 4px; padding: 15px;")
					label Paz y salvo
					label
						a.btn(ng-class="{'btn-info':alumno.pazysalvo, 'btn-warning':!alumno.pazysalvo }"
							ng-click="cambiarPazysalvo(alumno);"
							uib-tooltip="NO está al día" href=""
							tooltip-enable="!alumno.pazysalvo" ng-model="alumno.pazysalvo")

							i.fa.fa-times(ng-hide="alumno.pazysalvo")
							i.fa.fa-check(ng-show="alumno.pazysalvo")

							span(ng-hide="alumno.pazysalvo") No
							span(ng-show="alumno.pazysalvo") Si


			.form-group.col-lg-3.col-sm-4.col-xs-12
				label(for="alumno-deuda") Deuda $
				input.form-control#alumno-deuda(type="number" ng-model="alumno.deuda"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					placeholder="Deuda" min="0" ng-change="guardarValor(alumno, 'deuda', alumno.deuda)")

			.form-group.col-lg-4.col-sm-5.col-xs-12(style="margin-bottom: 12px;")
				label(for="alumno-fecha_pension") Fecha de pensión

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_pension(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_pension" is-open="data.isOpenPens" ng-click="data.isOpenPens = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha pension"
							ng-change="guardarValor(alumno, 'fecha_pension', alumno.fecha_pension)")


.widget
	.widget-header.bordered-bottom.bordered-pink
		span.widget-caption Matrícula {{::USER.year}} y prematrícula {{::USER.year+1}}
	.widget-body
		.row
			.form-group.col-lg-3.col-md-4.col-sm-4(style="padding-right: 0px;")
				label(for="alumno-estado") Estado
				span.btn-group(style="padding-left: 2px; padding-top: 4px;")
					label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" uib-tooltip="Matricular") Matr
					label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" uib-tooltip="Establecer como Asistente") Asis
					label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" uib-tooltip="Retirar") Reti
					label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor") Dese

			.form-group.col-lg-3.col-md-4.col-sm-4.col-xs-12
				label(for="alumno-no-matr") Número Matrícula
				input.form-control#alumno-no-matr(type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'no_matricula', alumno.no_matricula)")

			.form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12(style="margin-bottom: 12px;" ng-if="alumno.estado == 'RETI' || alumno.estado == 'DESE' ")
				label(for="alumno-fecha_retiro") Fecha de retiro

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_retiro" is-open="data.isOpenReti" ng-click="data.isOpenReti = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha retiro"
							ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)")


			.form-group.col-lg-3.col-md-4.col-sm-4.col-xs-12(style="margin-bottom: 12px;" ng-if="alumno.estado == 'MATR' || alumno.estado == 'ASIS' ")
				label(for="alumno-fecha_matricula") Fecha de matricula

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha matricula"
							ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)")


		hr
		.row

			.form-group.col-lg-3.col-md-3.col-sm-4.col-xs-12()
				label Grupo próximo año
				div
					span(uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right")
						ui-select(ng-model="dato.grupo_prematr" theme="select2" style="width: 100%;")
							ui-select-match(placeholder="Grupo a prematricular" allow-clear="true") {{$select.selected.nombre}}
							ui-select-choices(repeat="grupo in grupos_siguientes | filter: $select.search")
								div(ng-bind-html="grupo.nombre | highlight: $select.search")

			.form-group.col-sm-8(style="padding-right: 0px;")
				label(for="alumno-estado") {{ USER.year + 1 }}:
				span.btn-group(style="padding-left: 2px; padding-top: 4px;")
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'FORM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Formulario vendido") Formulario
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'PREM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Prematriculado") Prematriculado
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'ASIS'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Establecer como Asistente") Asist
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'MATR'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Matricular") Matr


			.form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-show="alumno.next_year.estado=='PREM'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se prematriculó")
				label(for="alumno-fecha_prematriculado") Fecha prematriculado

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_prematriculado(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.next_year.prematriculado" is-open="data.isOpenPrema" ng-click="data.isOpenPrema = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha prematrícula"
							ng-change="guardarValor(alumno, 'prematriculado', alumno.next_year.prematriculado)")




