.col-lg-12.col-xs-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption Alumno
		.widget-body
			div
				form(role="form")
					uib-tabset
						uib-tab(heading="Información")
							.widget
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Básica
								.widget-body
									.row
										.col-sm-4.col-xs-12(uib-tooltip="Foto oficial")
											img(style="width: 200px" ng-src="{{perfilPath + alumno.foto_nombre}}")
										.col-sm-4.col-xs-12(uib-tooltip="Imagen de usuario (no importante)")
											img(style="width: 200px" ng-src="{{perfilPath + alumno.imagen_nombre}}")
										.col-md-4.col-sm-12(style="margin-top: 60px; text-align: center")
											button.btn.btn-primary.shiny(style="font-size: 20pt; font-weight: bold;" type="button"
												ng-click="cambiarGrupo()" uib-tooltip="Cambiar grupo") {{ alumno.grupo_nombre}}

									hr
									.row
										.col-lg-10.col-sm-12
											.row
												.form-group.col-lg-4.col-sm-6
													label(for="alumno-nombres") Nombres
													input.form-control#alumno-nombres(type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)")
												.form-group.col-lg-4.col-sm-6
													label(for="alumno-apellidos") Apellidos
													input#alumno-apellidos.form-control(type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)")
												.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 5px;")
													label Sexo
													.row
														.col-lg-6.col-sm-4.col-xs-12
															.radio
																label
																	input.inverted(type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
																	span.text Masculino
														.col-lg-6.col-sm-4.col-xs-12
															.radio
																label
																	input.inverted(type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
																	span.text Femenino

											hr
											.row
												.form-group.col-lg-4.col-sm-6(style="margin-top: 15px;")
													span(style="border: 1px solid #ccc; border-radius: 4px; padding: 15px;")
														label Paz y salvo
														label
															a.btn(ng-class="{'btn-info':alumno.pazysalvo, 'btn-warning':!alumno.pazysalvo }"
																ng-click="cambiarPazysalvo(alumno);"
																uib-tooltip="NO está al día" href=""
																tooltip-enable="!alumno.pazysalvo" ng-model="alumno.pazysalvo")

																i.fa.fa-times(ng-hide="alumno.pazysalvo")
																i.fa.fa-check(ng-show="alumno.pazysalvo")

																span(ng-hide="alumno.pazysalvo") No
																span(ng-show="alumno.pazysalvo") Si


												.form-group.col-lg-4.col-sm-6.col-xs-12
													label(for="alumno-deuda") Deuda $
													input.form-control#alumno-deuda(type="number" ng-model="alumno.deuda"
														ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
														placeholder="Deuda" min="0" ng-change="guardarValor(alumno, 'deuda', alumno.deuda)")


											.row
												.form-group.col-lg-4.col-sm-6
													label(for="alumno-estado") Estado
													span.btn-group(style="padding-left: 2px; padding-top: 4px;")
														label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" uib-tooltip="Matricular") Matr
														label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" uib-tooltip="Establecer como Asistente") Asis
														label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" uib-tooltip="Retirar") Reti
														label.btn.btn-info(ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor") Dese

												.form-group.col-lg-4.col-sm-6
													label(for="alumno-no-matr") Número Matrícula
													input.form-control#alumno-no-matr(type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula"
														ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
														ng-change="guardarValor(alumno, 'no_matricula', alumno.no_matricula)")

											.row
												.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
													label(for="alumno-fecha_retiro") Fecha de retiro

													.controls(ng-if="alumno.estado == 'MATR' || alumno.estado == 'ASIS' ")
														.input-group
															span.input-group-addon
																i.fa.fa-calendar
															input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
																ng-model="alumno.fecha_retiro" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true"
																max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
																clear-text="Borrar" placeholder="Fecha nacimiento"
																ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)")

													.controls(ng-if="alumno.estado == 'RETI' || alumno.estado == 'DESE' ")
														.input-group
															span.input-group-addon
																i.fa.fa-calendar
															input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
																ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true"
																max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
																clear-text="Borrar" placeholder="Fecha nacimiento"
																ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)")


							.widget
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Nacimiento
								.widget-body
									.row
										.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
											label(for="alumno-fecha-nac") Fecha de nacimiento
											.controls
												.input-group
													span.input-group-addon
														i.fa.fa-calendar
													input.form-control.active#alumno-fecha-nac(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
														ng-model="alumno.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true"
														max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
														clear-text="Borrar" placeholder="Fecha nacimiento"
														ng-change="guardarValor(alumno, 'fecha_nac', alumno.fecha_nac)")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Pais
											ui-select(ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Pais nacimiento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
												ui-select-choices(repeat="pais in paises | filter: $select.search")
													div(ng-bind-html="pais.pais | highlight: $select.search")
													small {{ pais.departamento | highlight: $select.search}}
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Departamento
											ui-select(ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Departamento nacimiento" allow-clear="true") {{$select.selected.departamento}}
												ui-select-choices(repeat="departamento in departamentosNac | filter: $select.search")
													div(ng-bind-html="departamento.departamento | highlight: $select.search")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Ciudad
											ui-select(ng-model="alumno.ciudad_nac" style="width: 100%;")
												ui-select-match(placeholder="Ciudad nacimiento" allow-clear="true") {{$select.selected.ciudad}}
												ui-select-choices(repeat="ciudad in ciudadesNac | filter: $select.search")
													div(ng-bind-html="ciudad.ciudad | highlight: $select.search")



							.widget
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Documento
								.widget-body
									.row
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Tipo
											ui-select(ng-model="alumno.tipo_doc" style="width: 100%;")
												ui-select-match(placeholder="Tipo de documento" allow-clear="true") {{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}
												ui-select-choices(repeat="tipo_doc in tipos_doc")
													div(ng-bind-html="tipo_doc.tipo | highlight: $select.search")
													small {{ tipo_doc.abrev}}
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label(for="alumno-documento") Número documento
											input#alumno-documento.form-control(type="text" ng-model="alumno.documento" placeholder="Documento")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Pais
											ui-select(ng-model="alumno.pais_doc" on-select="paisSelecionado($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Pais documento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
												ui-select-choices(repeat="pais in paises | filter: $select.search")
													div(ng-bind-html="pais.pais | highlight: $select.search")
													small {{ pais.departamento | highlight: $select.search}}
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Departamento
											ui-select(ng-model="alumno.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Departamento documento" allow-clear="true") {{$select.selected.departamento}}
												ui-select-choices(repeat="departamento in departamentos | filter: $select.search")
													div(ng-bind-html="departamento.departamento | highlight: $select.search")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Ciudad
											ui-select(ng-model="alumno.ciudad_doc" style="width: 100%;")
												ui-select-match(placeholder="Ciudad documento" allow-clear="true") {{$select.selected.ciudad}}
												ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
													div(ng-bind-html="ciudad.ciudad | highlight: $select.search")

						uib-tab(heading="Datos extras")
							.row
								.form-group.col-lg-2.col-sm-6.col-xs-12
									label(for="alumno-tipo-sangre") Tipo de sangre
									input#alumno-tipo-sangre.form-control(type="text" ng-model="alumno.tipo_sangre" placeholder="Tipo sangre"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'tipo_sangre', alumno.tipo_sangre)")


								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-eps") EPS
									input#alumno-eps.form-control(type="text"
										typeahead-append-to-body="true" typeahead-min-length="1"
										uib-typeahead="eps_check for eps_check in cambiaEpsCheck($viewValue)"
										ng-model="alumno.eps"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1500, 'blur': 0} }"
										typeahead-loading="alumno.loadingEps" typeahead-no-results="alumno.noResultsEps")

									i.fa.fa-refresh(ng-show="alumno.loadingEps" style="font-size: 7pt")
									div(ng-show="alumno.noResultsEps" style="font-size: 7pt")
										i.fa.fa-check
										| Sin coincidencias


								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-telefono") Teléfono
									input#alumno-telefono.form-control(type="text" ng-model="alumno.telefono" placeholder="Teléfono"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'telefono', alumno.telefono)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-celular") Celular
									input#alumno-celular.form-control(type="text" ng-model="alumno.celular" placeholder="Celular"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'celular', alumno.celular)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-direccion") Dirección
									input#alumno-direccion.form-control(type="text" ng-model="alumno.direccion" placeholder="Direccion"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'direccion', alumno.direccion)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-barrio") Barrio
									input#alumno-barrio.form-control(type="text" ng-model="alumno.barrio" placeholder="Barrio"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'barrio', alumno.barrio)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-estrato") Estrato
									.spinner.spinner-horizontal
										input.spinner-input.form-control#alumno-estrato(type="text" minlength="0" maxlength="10" ng-model="alumno.estrato"
											ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
											ng-change="guardarValor(alumno, 'estrato', alumno.estrato)")
										.spinner-buttons.btn-group
											button.btn.spinner-down.blueberry(type="button" ng-click="restarEstrato()")
												i.fa.fa-minus
											button.btn.spinner-up.purple(type="button" ng-click="sumarEstrato()")
												i.fa.fa-plus

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-ciudad_resid") Ciudad residencia
									input#alumno-ciudad-resid.form-control(type="text" ng-model="alumno.ciudad_resid" placeholder="Ciudad residencia")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-religion") Religión
									input#alumno-religion.form-control(type="text"
										typeahead-append-to-body="true" typeahead-min-length="1"
										uib-typeahead="religion for religion in religiones | filter:$viewValue | limitTo:8"
										typeahead-on-select="religionSelected(alumno, $item)"
										ng-model="alumno.religion"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'religion', alumno.religion)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-email") E-mail
									input#alumno-email.form-control(type="text" ng-model="alumno.email" placeholder="E-mail"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'email', alumno.email)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-facebook") Facebook
									input#alumno-facebook.form-control(type="text" ng-model="alumno.facebook" placeholder="Facebook"
										ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
										ng-change="guardarValor(alumno, 'facebook', alumno.facebook)")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="alumno-foto") Foto oficial
									input#alumno-foto.form-control(type="text" ng-model="alumno.foto" placeholder="Foto oficial")



						uib-tab(heading="Usuario")
							.form-group
								label(for="alumno-username") Nombre de usuario
								input#alumno-username.form-control(type="text" ng-model="alumno.username" placeholder="Nombre usuario")
							.form-group
								label(for="alumno-password") Contraseña
								input#alumno-password.form-control(type="password" ng-model="alumno.password" placeholder="Contraseña")
							.form-group
								label(for="alumno-password2") Verificar contraseña
								input#alumno-password2.form-control(type="password" ng-model="alumno.password2" placeholder="Verificar contraseña")
							.form-group
								label(for="alumno-email2") Correo electrónico
								input#alumno-email2.form-control(type="email" ng-model="alumno.email2" placeholder="Correo electrónico")





