div(style="display: table; height: 30cm ; " ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	span(ng-if="year.config_certificado_estudio_id")
		img.encabezado-membrete(ng-src="{{perfilPath + year.config_certificado.encabezado_nombre}}"
			style="width: 22cm; position: absolute; margin-left: -10px;")
	.row
		div(ng-style="{ 'margin-top' : year.config_certificado.encabezado_margin_top, 'margin-left' : year.config_certificado.encabezado_margin_left }")
			.col-lg-12.col-xs-12
				.row.encabezado-boletin
					.col-lg-12.col-xs-12
						.row
							.col-lg-2.col-xs-2
								img.img-responsive.logo-colegio(ng-if="!year.config_certificado_estudio_id" ng-src="{{perfilPath + year.logo}}")
							.col-lg-8.col-xs-8.title-encabezado-boletin
								.dane-certificado
									| {{ year.codigo_dane }}
								.nombre-colegio 
									span(ng-show="year.sexo_rector=='M'") EL RECTOR DEL 
									span(ng-show="year.sexo_rector=='F'") LA RECTORA DEL 
									| {{ year.nombre_colegio }}
								.resolucion-colegio(ng-if="!year.config_certificado_estudio_id")
									| {{year.resolucion}}
								.nombre-colegio
									| CERTIFICA
							.col-lg-2.col-xs-2
								img.img-responsive.img-thumbnail.foto-alumno(ng-src="{{perfilPath + alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")

						.row.descripcion-encabezado(style="margin-top: 20px; ")
							.col-lg-12.col-xs-12
								.grupo-alumno
									| Que, 
									b {{alumno.nombres + ' ' + alumno.apellidos}}
									| , cursó y aprobó en éste plantel educativo las áreas correspondientes al grado 
									b {{grupo.nombre_grupo | capitalize}} 
									| de la {{grupo.nivel_educativo}} 
									| académica durante el año 
									b {{year.year}}
									| , obteniendo los siguientes resultados:
								.titular-grupo(uib-popover-html="'<img src=\"{{perfilPath + grupo.foto_nombre}}\" style=\"width: 150px; height: 150px;\">'" 
										popover-popup-delay="500" popover-title="{{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor}}" popover-animation="true" 
										popover-trigger="mouseenter" style="float: right")
									| Titular: {{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor | capitalize}}
							
				.row.body-boletin(style="margin-top: 10px; margin-bottom: 10px; ")
					.col-lg-12.col-xs-12
						table.table-bordered.table-striped(style="margin: 0 auto;")
							thead
								tr(style="border-bottom: 2px solid;")
									th No
									th Nombres
									th Cred
									th(style="width: 25px") 
										i.fa.fa-clock-o.icon-tardanza 
										| A
									th(ng-repeat="periodo in year.periodos") Per{{periodo.numero}}
									th Desempeño
									th(style="border-left: 2px solid !important;") Prom
							tbody
								tr(ng-repeat="asignatura in alumno.asignaturas")
									td {{$index + 1}}
									td
										div(uib-popover-html="'<img src=\"{{perfilPath + asignatura.foto_nombre}}\" style=\"width: 150px; height: 150px;\">'" 
											popover-popup-delay="500" popover-title="{{asignatura.nombres_profesor + ' ' + asignatura.apellidos_profesor}}" popover-animation="true" 
											popover-trigger="mouseenter") {{asignatura.materia}}
									td(style="text-align: center;")
										| {{ asignatura.creditos }}
									td(style="text-align: center;") 
										span(ng-show="asignatura.ausencias > 0") {{asignatura.ausencias}}

									td(ng-repeat="definitiva in asignatura.definitivas" ng-class="{'nota-perdida-puestos': ((definitiva.DefMateria | decimales_if:1 )*1) < (USER.nota_minima_aceptada*1) }") 
										| {{ definitiva.DefMateria | decimales_if:1 }}
										span.cant-unidades-perdidas(ng-show="{{definitiva.notas_perdidas > 0}}")
											| ({{definitiva.notas_perdidas}})
										
									td(style="text-align: center;")
										| {{ asignatura.desempenio }}
									td.puntero(ng-class="{'nota-perdida-puestos': ((asignatura.promedio | decimales_if:1 )*1) < (USER.nota_minima_aceptada*1) }") 
										| {{asignatura.promedio | decimales_if:1}}
										span.cant-unidades-perdidas(ng-show="{{asignatura.notas_perdidas > 0}}")
											| ({{asignatura.notas_perdidas}})

							tfoot
								tr(style="border-top: 2px solid; text-align: center; font-weight: bold")
									td   
									td(style="text-align: left;") Total
									td
										| {{ alumno.total_creditos }}

									td {{alumno.ausencias}}

									td(ng-repeat="periodo in year.periodos") {{ alumno.asignaturas | promedioPeriodo:periodo.id | decimales:0 }}
									td {{ alumno.desempenio }}
									td(style="font-weight: bold; border-left: 2px solid !important;") 
										| {{alumno.promedio | decimales:0 }}
										span.cant-unidades-perdidas(ng-show="{{alumno.notas_perdidas > 0}}")
											| ({{alumno.notas_perdidas}})



				


				.row
					.col-lg-12.col-xs-12
						div(style="margin-top: 20px; margin-left: 15px;")
							| Dado en {{year.ciudad}} ({{year.departamento}}) a los {{fecha_dia}} días del mes de {{fecha_mes}} de {{fecha_year}}.



				.row.footer-boletin
					.col-lg-12.col-xs-12
						.row
							.col-lg-6.col-xs-6.rector-firma
								img(ng-show="config.show_firma_rector" ng-src="{{perfilPath + year.rector_firma}}")
						.row
							.col-lg-6.col-xs-6.nombre-rector-firma
								| {{year.nombres_rector}} {{year.apellidos_rector}}

						.row
							.col-lg-6.col-xs-6(ng-show="year.sexo_rector=='M'")
								| Rector
							.col-lg-6.col-xs-6(ng-show="year.sexo_rector=='F'")
								| Rectora


	span(ng-if="year.config_certificado_estudio_id" style="display: table-row; vertical-align: bottom; height: {{year.config_certificado.piepagina_height}}px;")
		img.footer-membrete(ng-src="{{perfilPath + year.config_certificado.piepagina_nombre}}"
			style="width: 22cm; position: absolute; margin-left: -10px;")
	



