.row.hidden-print()
	.col-lg-12.col-xs-12
		edit-notas-mat-year-dir(asignatura="alumno_mat.asignatura" alumno="alumno_mat.alumno" alumnosasigs="alumnos_materias" ng-repeat="alumno_mat in alumnos_materias")


div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal', 'page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	.row
		.col-lg-12.col-xs-12
			.row.encabezado-puestos
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{perfilPath + year.logo}}")
						.col-lg-8.col-xs-8.title-encabezado-boletin
							.nombre-colegio
								| {{year.nombre_colegio + ' - ' + year.abrev_colegio}}
							.resolucion-colegio
								| {{year.resolucion}}
							.title-descripcion
								| Puestos Año {{USER.year}} Grupo {{grupo.nombre_grupo}}
						.col-lg-2.col-xs-2.no-padding(style="text-align: right; font-size: 9pt")
							span
								| {{ fechahora | date : 'dd/MM/yyyy h:mma' }}
	.row
		.col-lg-12
			table.table-bordered.table-bordered2.table-striped.table-striped2
				thead
					tr(style="border-bottom: 2px solid;")
						th No
						th Nombres
						th(ng-repeat="asignatura in alumnos[0].notas_asig | orderBy:'orden' ") {{ asignatura.alias }}
						th(style="border-left: 2px solid !important;") Total
				tbody
					tr(ng-repeat="alumno in alumnos | orderBy:'-promedio_year' | materiasPerdidasYear:filtrar.materias_perdidas:USER.nota_minima_aceptada" )
						td {{$index + 1}}
						td(ng-class="{'nota-sobre':alumno.sobre }")
							.nombresellipsis( uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'"
								popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
								popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true"
								ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}")


								| {{alumno.nombres + ' ' + alumno.apellidos}}

						td.puntero(ng-repeat="asignatura in alumno.notas_asig"
							ng-class="{'nota-perdida-puestos': ((asignatura.nota_asignatura_year | number:0 )*1) < (USER.nota_minima_aceptada*1), 'nota-sobre':(asignatura.sobre) && (alumno.sobre) }"
							ng-click="add_alum_materia(asignatura, alumno)" ng-mouseenter="asignatura.sobre=true; alumno.sobre=true" ng-mouseleave="asignatura.sobre=false; alumno.sobre=false")

							span() {{asignatura.nota_asignatura_year | number:0}}
							span.cant-unidades-perdidas(ng-show="asignatura.perdidos > 0")
								| ({{asignatura.perdidos}})
						td(style="border-left: 2px solid !important;")
							span {{alumno.promedio_year | decimales:2}}
							span.cant-unidades-perdidas(ng-show="alumno.perdidos_year > 0") ({{ alumno.perdidos_year }})
				tfoot
					tr(style="border-top: 2px solid;")
						td
						td() Total
						td(ng-repeat="asignatura in alumnos[0].notas_asig") {{ alumnos | promAsigYear:asignatura.asignatura_id | decimales:1 }}
						td(style="font-weight: bold; border-left: 2px solid !important;") {{ alumnos | promGrupoYear | decimales:1 }}
							span.cant-unidades-perdidas(ng-show="(alumnos | notasPerdidasGrupoYear) > 0") ({{alumnos | notasPerdidasGrupoYear}})


