.col-lg-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption {{asignatura.materia + ' - ' + asignatura.nombre_grupo + ' - ' + asignatura.nombres_profesor + ' ' + asignatura.apellidos_profesor}}
		.widget-body
			div
				a.btn.btn-info.btn-lg(ui-sref="panel.listasignaturas({asignatura_id: asignatura.profesor_id})") Volver a las asignaturas


			div.table-responsive
				br
				br
				hr.wide
				h5
					| Selecciona el mes: 
					select.form-control(ng-model="dato.mes" multiple ng-change="mesSelect()")
						option(ng-selected="{{operator.value == dato.mes}}"
								ng-repeat="mes in meses"
								value="{{$index}}")
							| {{mes.nombre}}
				.row
					.col-lg-4.col-xs-8
						label Filtrar alumnos
						input.form-control(type="text" ng-model="searchAlum" placeholder="Escribe algún texto")
				br
				br
				br
				table.table.table-hover.table-condensed.table-striped.tablenot100
					thead
						tr
							th(style="width: 20px;")
								div No
							th.text-center(style="min-width: 50px;") 
								div Nombres
							th(ng-repeat="dia in dias")
								div.text-center.nombresellipsis(uib-tooltip="{{subunidad.porcentaje}}% {{subunidad.definicion}}" 
									tooltip-popup-delay="1000") {{dia}}
							th
								div Total

					tbody
						tr(ng-repeat="alumno in alumnos | filter:searchAlum" ng-class="{'danger': promedioTotal(alumno.alumno_id) < 70}")
							td
								div {{$index+1}}
							td
								.nombresellipsis( popover="<img src='{{perfilPath + alumno.userData.foto_nombre}}' style='width: 100px; height: 100px;'><img src='{{perfilPath + alumno.userData.imagen_nombre}}' style='width: 100px; height: 100px;'><br>Facebook: {{alumno.facebook}}<br>Username: {{alumno.userData.username}}" 
									popover-popup-delay="1000" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-animation="true" 
									popover-trigger="mouseenter" ) 
									img(ng-src="{{perfilPath + alumno.userData.foto_nombre}}" style="width: 20px; height: 20px;")
									| {{alumno.apellidos + ' ' + alumno.nombres}}
							
							td(ng-repeat="dia in dias")
								a.btn.btn-default.btn-xs.icon-only(ng-click="showAddAusencia(alumno, dia)" ng-class="hasAusencias(alumno, dia) ? 'ng-hide':''")
									i.fa.fa-smile-o
								a.btn.btn-danger.btn-xs.icon-only(ng-click="deleteAusencia(alumno, dia)" ng-class="hasAusencias(alumno, dia) ? '':'ng-hide'")
									i.fa.fa-frown-o

								//
									a.btn.btn-default.btn-xs.icon-only(ng-click="showAddAusencia(alumno, dia)" ng-hide="hasAusencias(alumno, dia)")
										i.fa.fa-smile-o
									a.btn.btn-danger.btn-xs.icon-only(ng-click="deleteAusencia(alumno, dia)" ng-show="hasAusencias(alumno, dia)")
										i.fa.fa-frown-o

							td
								div(ng-bind-html="ausenciasTotales(alumno)")


				br
				br
				br
				hr.wide
br
br
br
.col-lg-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption Algunas opciones
		.widget-body
			div
				a.btn.btn-default.btn.lg Hacer algo
