.col-lg-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption {{asignatura.materia + ' - ' + asignatura.nombre_grupo + ' - ' + asignatura.nombres_profesor}}
		.widget-body
			div
				a.btn.btn-info.btn-lg(ui-sref="panel.unidades({asignatura_id: asignatura_id})") Volver a unidades


			div.table-responsive(ng-class="{cursorcopy:notaRapida.enable}")
				//
					br
					br
					hr.wide
					br
					.row
						.col-lg-2.col-xs-8
							label Filtrar alumnos
							input.form-control(type="text" ng-model="searchAlum" placeholder="Escribe algún texto")

					br
					br
				

				table.table.table-hover.table-condensed.table-striped.tablenot100
					thead
						tr
							th(rowspan="2" style="width: 20px; line-height: 3;")
								div No
							th.text-center(rowspan="2" style="min-width: 50px; line-height: 3;") 
								div Nombres
							th.text-center(rowspan="2" style="min-width: 50px; line-height: 3;") 
								div 
							th(ng-repeat="unidad in unidades" colspan="{{unidad.subunidades.length}}")
								div.text-center.nombresellipsis(uib-tooltip="{{unidad.porcentaje}}% {{unidad.definicion}}" tooltip-popup-delay="500" ng-class="'maxwidth' + unidad.subunidades.length" ) {{$index + 1}}. {{unidad.definicion}}
							th(rowspan="2" style="line-height: 3;")
								div Total
						
						tr
							th(ng-repeat="subunidad in subunidadesunidas")
								div.text-center.nombresellipsis(uib-tooltip="{{subunidad.porcentaje}}% {{subunidad.definicion}}" tooltip-popup-delay="500" ng-hide="subunidad.empty") {{$index + 1}}
								div.text-center(uib-tooltip="No hay subunidad" tooltip-popup-delay="500" ng-show="subunidad.empty")
									i.fa.fa-frown-o

					tbody
						tr(ng-repeat="alumno in alumnos | filter:searchAlum" ng-class="{'danger': promedioTotal(alumno.alumno_id) < nota_minima_aceptada}")
							td
								div {{$index+1}}
							td
								.nombresellipsis( uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'" 
									popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" 
									popover-trigger="mouseenter" popover-popup-delay="500") 
									img(ng-src="{{perfilPath + alumno.userData.foto_nombre}}" style="width: 20px; height: 20px;")
									| {{alumno.apellidos + ' ' + alumno.nombres}}
							td
								a.btn.btn-default.btn-xs(href="" ng-click="showFrases(alumno)" uib-tooltip="Información para el alumno")
									i.fa.fa-info
							div
								td(ng-repeat="subunidad in subunidadesunidas")
									div.text-center(ng-class="{'inputnota-perdida': subunidad.notas[$parent.$index].nota < nota_minima_aceptada, 'inputnota-superior': subunidad.notas[$parent.$index].nota > 90, 'cursorcell': notaRapida.enable == true}" 
										ng-hide="subunidad.empty")
										input(uib-tooltip="{{subunidad.porcentaje}}% {{subunidad.definicion}}" tooltip-popup-delay="500" 
											type="number" min="0" max="100" 
											ng-model="subunidad.notas[$parent.$index].nota" 
											ng-change="cambiaNota(subunidad.notas[$parent.$index], subunidad.notas[$parent.$index].nota)"
											ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
											ng-click="verifClickNotaRapida(subunidad.notas[$parent.$index])")

									div.text-center(uib-tooltip="No hay subunidad" tooltip-popup-delay="500" ng-show="subunidad.empty")
										i.fa.fa-frown-o
								td
									div(ng-bind-html="promedioTotal(alumno.alumno_id)")

				br
				.col-lg-5.col-xs-12
					div(nota-rapida)
				br
				br
				br

//.col-lg-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption Algunas opciones
		.widget-body
			div
				a.btn.btn-default.btn.lg Aun en construcción
